.filterTab {
    width: 95%;
    border: 1px solid var(--lightgray);
    border-radius: 1.2em;
    margin-bottom: 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-top: 0.8em;
}

.searchBar span:first-child {
    position: absolute;
    left: 0.8em;
    color: var(--lightgray);
    font-size: 1.3em;
}

.searchBar input {
    border: 1px solid var(--lightgray);
    font-size: 1em;
    color: var(--lightgray);
    width: 50%;
    height: 2em;
    border-radius: 0.75em;
    padding-left: 2.5em;
}

.filterBar {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

.filterBar,
.filterLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
}

.filterBar .servings input, .filterBar .cookingTime input {
    width: 40px;
    height: 25px;
}