.filterTab {
    width: 95%;
    border-radius: 1.2em;
    margin-bottom: 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 1em;
    background-color: var(--white);
    z-index: 1000;
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-top: 0.8em;


    &>span:first-child {
        position: absolute;
        left: 0.8em;
        color: var(--gray);
        font-size: 1.3em;
    }

    &>input {
        border: 1px solid var(--gray);
        font-size: 1em;
        color: var(--gray);
        width: 50%;
        height: 2em;
        border-radius: 0.75em;
        padding-left: 2.5em;
    }
}

.filterBar {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
    gap: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;

    &>select {
        height: 25px;
        border-radius: 0.4em;
    }
}

.filterLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
}

.servings,
.cookingTime {
    display: flex;
    align-items: center;
    gap: 0.5em;

    &>input {
        width: 50px;
        padding-left: 0.5em;
        height: 25px;
        border: 1px solid var(--gray);
        border-radius: 0.4em;
    }
}

.clearButton {
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    color: var(--orange);
    gap: 0.2em;

    &>span:first-child {
        font-size: 1.6em;
    }

    &>span:last-child {
        font-size: 1.1em;
    }

    &:hover {
        cursor: pointer;
    }

    &.hidden {
        display: none;
    }
}