:root {
    --orange: #ff6900;
    --white: #eaeaea;
    --black: #151515;
    --offwhite: #e3e3e3;
    --gray: #d0d0d0;
}

.windowControl{
    width: 100%;
    height: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black);

    text-align: center;
    line-height: 2.5rem;
    color: var(--white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding:1rem;
    padding-top: 3.5rem;
    background-color: var(--offwhite);

    font-family: Arial, Helvetica, sans-serif;
}