.newRecipeButton {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 1em;
    font-size: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    z-index: 1000;
}