nav {
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1000;

    flex: 0 0 25%;
    padding: 1rem 0 0 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 3px solid var(--black) !important;
    background-color: var(--white);


    &>* {
        display: flex;
        align-items: center;
    }

    &>h1 {
        position: relative;
        padding-bottom: 2rem;

        &>span {
            font-size: 2.5rem !important;
            color: var(--orange);
        }

    }

    &>div {
        font-weight: 600;
        cursor: pointer;
    }
}