.newRecipeContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    &.hidden {
        display: none;
    }
}

.newRecipe {
    width: 40%;
    height: 85%;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 1.5em;
    position: relative;
    gap: 0.5em;
    overflow-y: scroll;
    overflow-x: hidden;

    &>p {
        margin-bottom: 0.5em;
    }

    &>.closeButton {
        position: absolute;
        top: 1.7em;
        right: 1.1em;
        font-size: 1em;
        cursor: pointer;
        background: transparent;
        color: var(--black);
        border: none;
    }

    &>label,
    &>.row label {
        margin-top: 0.7em;
        font-size: 0.9em;
    }

    &>input[type="text"],
    &>input[type="number"],
    &>.row div input,
    &>.dynamic-input-row input {
        width: 100%;
        padding: 0.5em;
        border: 1px solid var(--lightgray);
        border-radius: 0.5em;
    }

    &>.dynamic-input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &>input {
            flex-shrink: 1;
        }

        &>.remove-btn {
            background: transparent;
            color: var(--black);
            border: none;
            cursor: pointer;
        }
    }

    &>.row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5em;

        &>div {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        &>.add-btn {
            width: 20%;
            height: 2.2em;
            font-size: 0.8em;
            padding: 0.5em;
            background-color: var(--white);
            color: var(--black);
            border: 1px solid var(--black);
            border-radius: 0.5em;
            cursor: pointer;
        }
    }

    &>button[type="submit"] {
        width: 20%;
        height: 3em;
        font-size: 0.9em;
        padding: 0.8em;
        background-color: var(--orange);
        color: var(--white);
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
        margin-top: 0.8em;
        align-self: flex-end;
    }
}