.newRecipeContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    &.hidden {
        display: none;
    }
}

.newRecipe {
    width: 40%;
    height: 85%;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 1.5em;
}