.profileViewContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--lightgray);
    padding: 1rem;
    min-height: 100vh;


    .userInfoContainer {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;


        background-color: var(--white);
        border: solid 1px var(--gray);
        border-radius: 8px;

        &>:first-child {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;

            &>.iconContainer {
                width: 4rem;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--orange);
                border-radius: 50%;

                &>.material-icons {
                    color: var(--black);
                    font-size: 2rem;
                }
            }
        }

        &>.stats {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1rem;

            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;

                &>* {
                    width: max-content;
                }

                &>:first-child {
                    color: var(--orange);
                }
            }
        }
    }


    &>label {
        padding-top: 1rem;

        &>h2 {
            display: flex;
            align-items: center;

            &>span {
                font-size: 2rem;
                color: var(--orange);
            }
        }
    }

    &>.savedRecipesContainer {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        gap: 3rem;

        flex-wrap: wrap;

        background-color: var(--white);
        border: solid 1px var(--gray);
        border-radius: 8px;

        &>.noSavedRecipes {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            color: var(--gray);

            &>span{
                font-size: 5rem;
            }
        }

        &>.mockRecipe{
            width: 5rem;
            aspect-ratio: 1;
            background-color: black;
        }
    }
}