.profileViewContainer {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &>label{
        padding-top: 1rem;

        &>h2{
            display: flex;
            align-items: center;

            &>span{
                font-size: 2rem;
                color: var(--orange);
            }
        }
    }
    &>.savedRecipesContainer {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        gap: 3rem;

        flex-wrap: wrap;

        background-color: var(--white);
        border: solid 1px var(--gray);
        border-radius: 8px;

        &>.mockRecipe {
            display: inline-block;
            width: 7rem;
            aspect-ratio: 1;
            background-color: var(--orange);
        }
    }
}