.view-container a:first-child {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    cursor: pointer;
}

.recipeContainer {
    position: relative;
    width: 80%;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    margin-bottom: 2em;

    & img {
        width: 100%;
        max-height: 65vh;
        height: auto;
        object-fit: cover;
    }
}

.tags {
    position: absolute;
    top: 1.5em;
    right: 0;
    margin: 0;
    margin-right: 1.5em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    & span {
        margin: 0;
        background-color: var(--white);
        color: var(--black);
        padding: 0.3em 0.8em;
        border-radius: 0.5em;
        font-size: 0.85em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.details {
    padding: 3em;
    position: relative;

    & h1 {
        color: var(--black);
        font-size: 2em;
        margin-top: -0.5em;
    }

    & p {
        color: var(--gray);
        font-size: 1.2em;
        margin-top: 1em;
    }

    & p:last-child {
        color: var(--gray);
        font-size: 1em;
        margin-top: 2em;
    }
}

.info {
    margin-top: 1.3em;
    color: var(--gray);
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;

    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4em;
    }

    & span:first-child {
        font-size: 1.2em;
    }
}

.save {
    display: flex;
    align-items: center;
    gap: 0.2em;
    position: absolute;
    top: 2em;
    right: 2em;
    padding: 0.6em;
    border-radius: 0.6em;
    font-size: 1em;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray);

    &:hover {
        cursor: pointer;
        background-color: var(--lightgray);
    }
}

.recipeLists {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 2em;
}

.ingredients,
.instructions {
    width: 50%;
    color: var(--gray);
    border-radius: 1.2em;
    border: 1px solid var(--gray);
    padding: 1.5em;
    padding-left: 2.5em;
    font-size: 1.2em;
}

::marker {
    color: var(--orange);
}

.commentsContainer {
    margin-top: 0.8em;
    padding-left: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    & .comment {
        display: flex;
        flex-direction: row;
        gap: 1em;

        & p:first-child {
            font-weight: bold;
            color: var(--orange);
        }
    }

    & .noComments {
        color: var(--gray);
        font-style: italic;
    }

    & form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;

        & input {
            border-radius: 1em;
            border: 1px solid var(--gray);
            padding: 0.8em;
            font-size: 0.8em;
            width: 40%;
        }

        & button {
            border: none;
            background-color: transparent;
            color: var(--orange);
            cursor: pointer;
        }
    }
}