.recipeCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;

    &:hover {
        cursor: pointer;
    }
}

.recipeCardTop {
    position: relative;

    .material-icons {
        margin: 0;
        margin-left: 0.7em;
        padding: 0.3em;
        border-radius: 50%;
        font-size: 1.5em;
        color: var(--white);
        -webkit-text-stroke: 1px var(--lightgray);
        background-color: var(--white);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: var(--lightgray);
            color: var(--white);
            cursor: pointer;
        }
    }

    &>img {
        width: 100%;
        height: auto;
        top: 0;
        right: 0;
    }
}

.recipeCardTopOverlay {
    position: absolute;
    padding-top: 1em;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.tags {
    margin: 0;
    margin-right: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    &>span {
        margin: 0;
        background-color: var(--white);
        color: var(--black);
        padding: 0.3em 0.8em;
        border-radius: 0.5em;
        font-size: 0.85em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.recipeCardBottom {
    padding: 1em;

    &>h3 {
        color: var(--black);
        font-size: 1.2em;
        margin: 0;
    }

    &>p {
        color: var(--gray);
        font-size: 0.9em;
        margin-top: 0.5em;
    }

    &>.info {
        margin-top: 1.3em;
        color: var(--gray);
        font-size: 0.9em;
        display: flex;
        flex-direction: row;
        gap: 2.5em;

        &>div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
        }

        &>span:first-child {
            font-size: 1.2em;
        }
    }
}