@import url("./general.css");

.bar{
    width: 100%;
    height: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--orange);

    content: "MyCookBook";
    text-align: center;
}